// Import Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Raleway|Roboto+Condensed|Roboto+Mono|Roboto+Slab');
// Variables
@import "colors";
@import "variables";

// Fonts
body,
html {
  // height: 100%;
  // font-family: 'Roboto', sans-serif;
  // font-family: 'Roboto Condensed', sans-serif;
  // font-family: 'Roboto Slab', serif;
  // font-family: 'Roboto Mono', monospace;
  font-family: 'Open Sans', sans-serif;
  // font-family: 'Raleway', sans-serif;
  // line-height: 26px;
  // font-size: 18px; 
}

$break-small: 480px;
$break-large: 1200px;
.crop {
  @media screen and (max-width: $break-small) {
    height: 150px;
  }
  @media screen and (min-width: $break-large) {
    height: 300px;
  }
}

.portfolio-image {
  @media screen and (max-width: $break-small) {
    height: 100%;
  }
  @media screen and (min-width: $break-large) {
    height: 300px;
  }
  .portfolio-image-tall{
    height: 400px;
  }
}

.culture {
  // padding-top: 20px;
  height: 90px;
}

.rounded {
  border-radius: 10px;
}

// Input field colors
// /* label color */
// .input-field label {
//   color: #000;
// }
// /* label focus color */
// .input-field input[type=text]:focus + label {
//   color: #000;
// }
// /* label underline focus color */
// .input-field input[type=text]:focus {
//   border-bottom: 1px solid #000;
//   box-shadow: 0 1px 0 0 #000;
// }
// /* valid color */
// .input-field input[type=text].valid {
//   border-bottom: 1px solid #000;
//   box-shadow: 0 1px 0 0 #000;
// }
// /* invalid color */
// .input-field input[type=text].invalid {
//   border-bottom: 1px solid #000;
//   box-shadow: 0 1px 0 0 #000;
// }
// /* icon prefix focus color */
// .input-field .prefix.active {
//   color: #000;
// }

// ;
// .intro {
//     /* The image used */
//     background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
//     /* Full height */
//     height: 100%;
//     /* Center and scale the image nicely */
//     background-position: center;
//     background-repeat: no-repeat;
//     background-size: cover;
// }
// .centered {
//     font-family: 'Waiting for the Sunrise', cursive;
//     font-size: 30px;
//     margin: 10px 50px;
//     letter-spacing: 6px;
//     font-weight: bold; // height: 100%;
//     top: 70%;
//     width: 100%;
//     display: flex;
//     position: absolute;
//     align-items: center;
//     justify-content: center;
//     transform: translateX(-15%)
// }
// .content {
//     padding: 16px;
// }
// //Sticky nav-bar
// .sticky {
//     position: fixed;
//     top: 0;
//     width: 100%
// }
// /*
// Add some top padding to the page content to prevent
// sudden quick movement (as the navigation bar gets a new
// position at the top of the page (position:fixed and top:0)
// */
// .sticky+.content {
//     padding-top: 60px;
// }
// .status-bar{
//     color: #000000;
// }
// .appbar{
//     background-color: #212121;
// }
// Lewis
// .modal {
//   max-height: 90%;
//   max-width: 90%;
// }
// .bkground {
//   background-image: url("https://www.w3schools.com/howto/img_parallax.jpg");
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }
// .sliderimg {
//   border-color: black;
//   border: solid 2px;
// }
// .floorimg {
//   border-color: black;
//   border: solid 4px;
// }
// .main-content {
//   top: 100%;
//   position: absolute;
//   width: 100%;
// }
// .slider-adjustment {
//   position: fixed;
//   top: 56px;
//   left: 0;
//   bottom: 0;
//   right: 0;
//   overflow: auto;
//   background-color: cyan;
// }
// .parallax-container {
//   height: "10px";
// }

// // Bootstrap
// @import '~bootstrap/scss/bootstrap';
// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }